<mat-card>
  <mat-card-content>
    <section class="mb3">
      <mat-form-field appearance="fill">
        <input matInput placeholder="first name" [(ngModel)]="name" />
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="age" [(ngModel)]="age" />
      </mat-form-field>
      <button mat-mini-fab color="primary" (click)="save()">
        <mat-icon>check</mat-icon>
      </button>
    </section>
    
    <app-item-client
      *ngFor="let c of clients; let i = index"
      [client]="c"
      (updateClient)="updateClient($event, i)"
      (removeClient)="removeClient(i)"></app-item-client>
  </mat-card-content>
</mat-card>
