<h2>Ng For</h2>

<!--
<mat-divider></mat-divider>
<p *ngFor="let name of names">{{ name }}</p>

<mat-divider></mat-divider>
<mat-card>
    <mat-card-title>
        <h3>Lista de Nomes</h3>
    </mat-card-title>
    <mat-card-content>
        <mat-selection-list role="list" #nomes>
            <mat-list-option role="listitem" *ngFor="let name of names; let i = index">{{ name }}</mat-list-option>
        </mat-selection-list>
    </mat-card-content>
    <mat-card-footer>
        Nomes Selecionados: {{ nomes.selectedOptions.selected.length }}
    </mat-card-footer>
</mat-card>

<mat-divider></mat-divider>
-->

<mat-card>
    <mat-card-content>
        <mat-list>
            <h3 matSubHeader >Names</h3>
            <mat-list-item *ngFor="let name of names">
                <mat-icon matListIcon>person</mat-icon>
                <h4 matLine>{{ name }}</h4>
            </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
        <mat-list>
            <h3 matSubHeader >Cities</h3>
            <mat-list-item *ngFor="let city of cities">
                <mat-icon matListIcon>location_city</mat-icon>
                <h4 matLine>{{ city.name }} / {{ city.state }}</h4>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-footer>
    </mat-card-footer>
</mat-card>