/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { padding-top: 15px; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card{
    margin: 0 auto;
    max-width: 350px;
}

.horizontal-button{
    display: flex;
    justify-content: space-between;
}

mat-form-field {
    width: 100%;
}

.mb3{
    margin-bottom: 15px;
}