<mat-card class="mb3">
  <mat-card-content>
    <button mat-button color="primary" (click)="timer.start()">Start</button>
    <button mat-button color="accent" (click)="timer.stop()">Stop</button>
    <button mat-button color="warn" (click)="timer.clear()">Clear</button>
  </mat-card-content>
  <app-timer #timer></app-timer>
</mat-card>

<mat-card>
  <mat-card-content>
    <button mat-button color="primary" (click)="start()">Start</button>
    <button mat-button color="accent" (click)="stop()">Stop</button>
    <button mat-button color="warn" (click)="clear()">Clear</button>
  </mat-card-content>
  <app-timer #timer2></app-timer>
</mat-card>